.card {
    background-color: white;
    text-align: center;
    width: 20%;
    vertical-align: top;
    height: 452px;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.card-img {
    width: 10rem;
    height: 14.0625rem;
    background-color: grey;
    min-height: 14.0625rem;
    min-width: 10rem;
}

.label {
    margin-top: 0.625rem;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}
 .card-head{
     color: #58609e;
     font-weight: bold;
     font-size: 1rem;
 }

.card-text {
    text-align: left;
    padding:0.625rem;
    color: #9aa1c3;
}

.card-text div {
    margin-top:0.625rem;
}

@media only screen and (max-width: 700px) {
   .card {
       width: 87%;
   }
  }