body {
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    
}

.container {
    display: inline-flex;
}

.container div {
    display: inline-block;
}

.filter-grid {
    width: 13.8rem;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    margin: 6px;
}

.main-grid {
    width: 54rem;
    height: 600px;
    border-radius: 5px;
    margin:6px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    .filter-grid, .main-grid {
        display: block;
    }

    .filter-grid {
        width: 98%;
    }
    .main-grid {
        width: 100%;
    }

  }