.filter-sub-section{
    text-align: center;
    margin: .625rem 0;
}

.main-heading {
    font-weight: bold;
    font-size:1.125rem;
    margin: .3125rem 0 0 .3125rem;

}
.green-btn-active {
    font-weight: bold;
    background-color: #7cba01;
}
.green-btn-inactive {
    font-weight: normal;
    background-color: #c5e09b;
}

.green-btn{
       font-weight: 700;
       border-radius: .3125rem;
       border: none;
       display: inline-block;
       width: 5rem;
       margin: .5rem 0.95rem;
}

.filter-sub-section hr {
    width: 60%;
}
