.filter-sub-section{
    text-align: center;
    margin: .625rem 0;
}

.main-heading {
    font-weight: bold;
    font-size:1.125rem;
    margin: .3125rem 0 0 .3125rem;

}
.green-btn-active {
    font-weight: bold;
    background-color: green;
}
.green-btn-inactive {
    font-weight: normal;
    background-color: lightgreen;
}

.green-btn{
    padding: .1875rem 1.5625rem;
    font-weight: bold;
    border-radius: .3125rem;
    border: none;
    margin: .3125rem .8437rem;
    display: inline-block;
}

.filter-sub-section hr {
    width: 60%;
}
